<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Riderbeam</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f4a68b">  <td>19/06/20 14:22:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Search_and_verify.Add_Product_To_Cart_and_Verify_it()[pri:1, instance:beam.Search_and_verify@204f30ec]">Add_Product_To_Cart_and_Verify_it</td> 
  <td>main@280884709</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>19/06/20 14:22:41</td>   <td>11476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Search_and_verify.Add_another_product_Verify_cart_change()[pri:3, instance:beam.Search_and_verify@204f30ec]">Add_another_product_Verify_cart_change</td> 
  <td>main@280884709</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>19/06/20 14:22:39</td>   <td>9273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Search_and_verify.Increase_ProductinCart_and_Verify()[pri:2, instance:beam.Search_and_verify@204f30ec]">Increase_ProductinCart_and_Verify</td> 
  <td>main@280884709</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>19/06/20 14:22:48</td>   <td>18379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Search_and_verify.Remove_a_product_from_the_cart_Verify_the_change()[pri:4, instance:beam.Search_and_verify@204f30ec]">Remove_a_product_from_the_cart_Verify_the_change</td> 
  <td>main@280884709</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>19/06/20 14:22:24</td>   <td>-5915</td> <td>&nbsp;</td><td title="&gt;&gt;Search_and_verify.launch_browser()[pri:0, instance:beam.Search_and_verify@204f30ec]">&gt;&gt;launch_browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@280884709</td>   <td></td> </tr>
</table>
