<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6297b6">  <td>19/06/24 22:22:26</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;StartEngine.launch_browser()[pri:0, instance:beam.Add_Another_Product@754ba872]">&gt;&gt;launch_browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>19/06/24 22:22:32</td>   <td>6185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Add_Another_Product.Add_another_product_Verify_cart_change()[pri:3, instance:beam.Add_Another_Product@754ba872]">Add_another_product_Verify_cart_change</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>19/06/24 22:22:35</td>   <td>9133</td> <td>&nbsp;</td><td title="&lt;&lt;StartEngine.close_browser()[pri:0, instance:beam.Add_Another_Product@754ba872]">&lt;&lt;close_browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
</table>
