<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="657fd0">  <td>19/06/24 22:23:56</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;StartEngine.launch_browser()[pri:0, instance:beam.Search_and_verify@6eebc39e]">&gt;&gt;launch_browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>19/06/24 22:24:05</td>   <td>8953</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Search_and_verify.Add_Product_To_Cart_and_Verify_it()[pri:1, instance:beam.Search_and_verify@6eebc39e]">Add_Product_To_Cart_and_Verify_it</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>19/06/24 22:24:16</td>   <td>20198</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Add_Product.Increase_ProductinCart_and_Verify()[pri:2, instance:beam.Add_Product@464bee09]">Increase_ProductinCart_and_Verify</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>19/06/24 22:24:18</td>   <td>22459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Add_Another_Product.Add_another_product_Verify_cart_change()[pri:3, instance:beam.Add_Another_Product@f6c48ac]">Add_another_product_Verify_cart_change</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>19/06/24 22:24:25</td>   <td>29059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Remove_Product.Remove_a_product_from_the_cart_Verify_the_change()[pri:4, instance:beam.Remove_Product@13deb50e]">Remove_a_product_from_the_cart_Verify_the_change</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>19/06/24 22:24:27</td>   <td>31172</td> <td>&nbsp;</td><td title="&lt;&lt;StartEngine.close_browser()[pri:0, instance:beam.Search_and_verify@6eebc39e]">&lt;&lt;close_browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@836514715</td>   <td></td> </tr>
</table>
